<div class="form-group">
  <div>
    <label class="control-label">Default</label>
  </div>
  <div>
    <div class="radio radio-icon">
      <input type="radio" id="none" name="none" value='none' v-model="autofill">
      <label for="none">
        <span class="check"><i class="fa fa-circle"></i></span>No default value
      </label>
    </div>
    <div class="radio radio-icon">
      <input type="radio" id="specify" name="specify" value='specify' v-model="autofill">
      <label for="specify">
        <span class="check"><i class="fa fa-circle"></i></span>Set a default value
      </label>
    </div>
    <div class="radio radio-icon">
      <input type="radio" id="default" name="default" value='default' v-model="autofill">
      <label for="default">
        <span class="check"><i class="fa fa-circle"></i></span>Autofill with current date if it's empty
      </label>
    </div>
    <div class="radio radio-icon">
      <input type="radio" id="always" name="always" value='always' v-model="autofill">
      <label for="always">
        <span class="check"><i class="fa fa-circle"></i></span>Always autofill with current date
      </label>
    </div>
  </div>
</div>

<div class="form-group clearfix" v-if="autofill === 'specify'">
  <div>
    <div class="hidden"> <!-- Remove "hidden" here to see how this could work for choosing different default value types -->
      <label>Default value type</label>
      <select class="form-control" :value="defaultValueSource" v-model="defaultValueSource">
        <option value="default">Enter a value</option>
        <option value="profile">User profile data</option>
        <option value="appStorage">App storage variable</option>
        <option value="query">Link query parameter</option>
      </select>
      <div class="text-right">
        <a href="https://help.fliplet.com/form-component/" target="_blank">Learn more about these types</a>
      </div>
    </div>
    <div>
      <label v-if="defaultValueSource === 'default'">Default value</label>
      <label v-else>Default key</label>
      <div v-if="!defaultValueKey" class="text-danger">
        This field is required*
      </div>
      <input v-bind:class="{ 'border-danger': !value }" v-if="defaultValueSource === 'default'"
        class="form-control" type="date" v-model="value" />
      <input v-bind:class="{ 'border-danger': !defaultValueKey }" v-else-if="defaultValueSource === 'profile'" class="form-control"
        type="text" v-model.trim="defaultValueKey" placeholder="Enter user data field/column name" />
      <input v-bind:class="{ 'border-danger': !defaultValueKey }" v-else-if="defaultValueSource === 'appStorage'"
        class="form-control" type="text" v-model.trim="defaultValueKey" placeholder="Enter storage key" />
      <input v-bind:class="{ 'border-danger': !defaultValueKey }" v-else-if="defaultValueSource === 'query'"
        class="form-control" type="text" v-model.trim="defaultValueKey" placeholder=" Enter query name" />
    </div>
  </div>
</div>

<div class="form-group" v-if="autofill === 'default' || autofill === 'always'">
  <div>
    <label class="control-label">When applying the current date</label>
  </div>
  <div>
    <div class="radio radio-icon">
      <input type="radio" id="load" name="load" value='load' v-model="defaultSource">
      <label for="load">
        <span class="check"><i class="fa fa-circle"></i></span>Use the date when form is loaded
      </label>
    </div>
    <div class="radio radio-icon">
      <input type="radio" id="submission" name="submission" value='submission' v-model="defaultSource">
      <label for="submission">
        <span class="check"><i class="fa fa-circle"></i></span>Use the date when form is submitted
      </label>
    </div>
  </div>
</div>
