<template>
  <div v-if="description" class="help-block description">\{{ description }}</div>

  <template v-if="readonly">
    <template v-for="(option, index) in options">
      <template v-if="value.includes(option.label) || value.includes(option.id)">
        <p class="form-control-static">\{{ option.label || option.id }}</p>
        <input
          type="hidden"
          :id="name + '-' + index"
          :name="name"
          v-model="value"
          :value="option.id || option.label"
          class="focus-outline"
          tabindex="0"
        />
      </template>
    </template>
  </template>

  <template v-else>
    <template v-for="(option, index) in options">
      <div class="checkbox checkbox-icon">
        <input
          type="checkbox"
          :id="name + '-' + index"
          :name="name"
          v-model="value"
          :value="option.id || option.label"
          tabindex="-1"
        >
        <label v-on:click="clickHandler(option)">
          <span
            class="check focus-outline"
            tabindex="0"
            v-on:keydown.space.prevent="clickHandler(option)"
          >
            <i class="fa fa-check"></i>
          </span>
          <span class="option-item">\{{ option.label || option.id }}</span>
        </label>
      </div>
    </template>
  </template>


  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>
</template>
