<div v-if="description" class="help-block description">\{{ description }}</div>
<template v-if="readonly">
  <p class="form-control-static">\{{ value }}</p>
  <input
    type="hidden"
    class="form-control"
    v-model.trim.lazy="value"
    v-on:change="updateValue()"
    v-on:input="onInput($event)"
    :name="name"
    :id="name"
    :placeholder="placeholder"
    autocomplete="new-password"
  />
</template>
<input v-else
  type="email"
  class="form-control focus-outline"
  v-model.trim.lazy="value"
  v-on:change="updateValue()"
  v-on:input="onInput($event)"
  :name="name"
  :id="name"
  :placeholder="placeholder"
  autocomplete="new-password"
  tabindex="0"
/>
<p class="text-danger" v-if="$v.value.email === false && $v.value.$dirty">The input is not a valid email address.</p>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>
