<div v-show="_showField" class="form-group row clearfix" :class="{'has-error': !isValid}" :data-field="name">
  <div class="col-xs-12" v-if="_isFormField">
    <label class="control-label" :for="name">
      \{{ label }} <template v-if="required"><span class="required-info">*</span></template>
    </label>
  </div>
  <div class="col-xs-12">
    {{{ template }}}
  </div>
</div>
