<div class="fileUpload file-input" :class="{ 'fileUpload-padding-top': value.length }">
  <div class="row">
    <div ref="canvasWrap" class="text-center" v-for="(file, index) in value">
      <div class="canvas-holder">
        <canvas v-if="isFileImage(file)"></canvas>
        <div class="file-icon" v-else><i class="fa fa-file"></i></div>
        <button class="canvas-remove" type="button" v-on:click="removeFile(index)"></button>
      </div>
      <span class="file-name">\{{ file.name }}</span>
    </div>
  </div>
  <label class="btn btn-primary">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span>Choose file</span>
    <input type="file" ref="fileInput" :id="name" :name="name" :data-folder-id="mediaFolderId" class="input-file selectfile" :required="required" v-on:change="updateValue()" multiple>
  </label>
</div>