<div v-if="description" class="help-block description">\{{ description }}</div>

<div v-if="readonly" class="fileUpload" :class="{ 'fileUpload-padding-top': value.length }">
  <div class="row">
    <div v-for="(image, index) in value" @click="onImageClick(index)" class="multiple-images-item">
      <div class="image-item" :style="{ 'background-image': 'url(' + image + ')' }"></div>
    </div>
  </div>
  <input multiple type="hidden" ref="imageInput" :id="name" :name="name" class="input-file selectfile" accept="image/gif, image/jpg, image/jpeg, image/tiff, image/png" :data-folder-id="mediaFolderId">
</div>

<div v-else class="fileUpload" :class="{ 'fileUpload-padding-top': value.length }">
  <div class="row">
    <div v-for="(image, index) in value">
      <div class="canvas-holder">
        <canvas ref="canvas"></canvas>
        <button class="canvas-remove" type="button" v-on:click="removeImage(index)"></button>
      </div>
    </div>
  </div>
  <label class="btn btn-primary focus-outline" tabindex="0" v-on:keydown.space.prevent="openFileDialog()">
    <span>Choose image</span>
    <i class="fa fa-plus" aria-hidden="true"></i>
    <input multiple type="file" ref="imageInput" :id="name" :name="name" class="input-file selectfile" accept="image/gif, image/jpg, image/jpeg, image/tiff, image/png" :data-folder-id="mediaFolderId" v-on:click="onFileClick" v-on:change="onFileChange" tabindex="-1">
  </label>
  <p class="text-danger" v-if="hasCorruptedImage">The uploaded file is not a valid image. Please try again.</p>
  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>
</div>
