<div v-if="description" class="help-block description">\{{ description }}</div>
<input
  type="password"
  class="form-control focus-outline"
  :readonly="autogenerate"
  autocomplete="new-password"
  v-on:change="updateValue()"
  v-on:input="onInput($event)"
  v-on:focus="isFocused = true"
  v-on:blur="isFocused = false"
  v-model.trim="$v.value.$model"
  :name="name"
  :id="name"
  :placeholder="fieldPlaceholder"
  tabindex="0"
/>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>

<div v-if="isFocused || $v.value.$model" class="panel password-checker" :class="validationClass.password">
  <div class="panel-heading">Password requirements</div>
  <div class="panel-body">
    <div class="requirement">
      <input type="checkbox" class="hidden" :checked="$v.value.$model.length >= passwordMinLength" readonly="readonly" tabindex="-1" />
      <label class="requirement-marker">
        <i class="fa fa-check"></i>
      </label>
      <span>Password must be at least 8 characters.</span>
    </div>
    <div class="requirement">
      <input type="checkbox" class="hidden" :checked="$v.value.containsUppercase && $v.value.$model" readonly="readonly" tabindex="-1"/>
      <label class="requirement-marker">
        <i class="fa fa-check"></i>
      </label>
      <span>Password must contain at least 1 uppercase character.</span>
    </div>
    <div class="requirement">
      <input type="checkbox" class="hidden" :checked="$v.value.containsLowercase && $v.value.$model" readonly="readonly" tabindex="-1" />
      <label class="requirement-marker">
        <i class="fa fa-check"></i>
      </label>
      <span>Password must contain at least 1 lowercase character.</span>
    </div>
    <div class="requirement">
      <input type="checkbox" class="hidden" :checked="$v.value.containsNumber && $v.value.$model" readonly="readonly" tabindex="-1" />
      <label class="requirement-marker">
        <i class="fa fa-check"></i>
      </label>
      <span>Password must contain at least 1 number.</span>
    </div>
    <div class="requirement">
      <input type="checkbox" class="hidden" :checked="$v.value.containsSpecial && $v.value.$model" readonly="readonly" tabindex="-1" />
      <label class="requirement-marker">
        <i class="fa fa-check"></i>
      </label>
      <span>Password must contain at least 1 symbol.</span>
    </div>
  </div>
</div>

<div class="form-group row clearfix" v-if="confirm">
  <br />
  <div class="col-xs-12">
    <label class="control-label" for="confirmPassword">Confirm password
      <template v-if="required">
        <span class="required-info">*</span>
      </template>
    </label>
  </div>
  <div class="col-xs-12">
    <input
      type="password"
      class="form-control focus-outline"
      v-model.lazy="$v.passwordConfirmation.$model"
      id="confirmPassword"
      autocomplete="new-password"
      v-on:change="updatePasswordConfirmation()"
      v-on:input="onPasswordConfirmationInput($event)"
      tabindex="0"
    />
  </div>
  <div class="col-xs-12">
    <div v-if="isFocused || $v.value.$model" class="panel password-checker" :class="validationClass.passwordConfirmation">
      <div class="panel-heading">Password confirmation</div>
      <div class="panel-body">
        <div class="requirement">
          <input type="checkbox" class="hidden" :checked="$v.passwordConfirmation.sameAsPassword && $v.value.$model" readonly="readonly" tabindex="-1" />
          <label class="requirement-marker">
            <i class="fa fa-check"></i>
          </label>
          <span>Password confirmation must match.</span>
        </div>
      </div>
    </div>
  </div>
</div>
