<div v-if="description" class="help-block description">\{{ description }}</div>
<input
  type="password"
  class="form-control focus-outline"
  :readonly="autogenerate"
  autocomplete="new-password"
  v-on:change="updateValue()"
  v-on:input="onInput($event)"
  v-model.lazy="value"
  :name="name"
  :id="name"
  :placeholder="fieldPlaceholder"
  tabindex="0"
/>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>

<div class="form-group row clearfix" v-if="confirm">
  <br />
  <div class="col-xs-12">
    <label class="control-label" for="confirmPassword">Confirm password
      <template v-if="required">
        <span class="required-info">*</span>
      </template>
    </label>
  </div>
  <div class="col-xs-12">
    <input
      type="password"
      class="form-control focus-outline"
      v-model.lazy="passwordConfirmation"
      id="confirmPassword"
      autocomplete="new-password"
      v-on:change="updatePasswordConfirmation()"
      v-on:input="onPasswordConfirmationInput($event)"
      tabindex="0"
    />
    <p class="text-danger" v-if="$v.passwordConfirmation.sameAs === false && $v.passwordConfirmation.$dirty">Password confirmation does not match password.</p>
  </div>
</div>
