<template>
  <div v-if="description" class="help-block description">\{{ description }}</div>
  <template v-if="readonly">
    <template v-for="(option, index) in options">
      <template v-if="value === option.label || value === option.id">
        <p class="form-control-static">\{{ option.label || option.id }}</p>
        <input
          type="hidden"
          :id="name + '-' + index"
          :name="name"
          v-model="value"
          :value="option.id || option.label"
          class="focus-outline"
          tabindex="0"
        >
      </template>
    </template>
  </template>
  <template v-else>
    <template v-for="(option, index) in options">
      <div class="radio radio-icon">
        <input
          type="radio"
          :id="name + '-' + index"
          :name="name"
          v-model="value"
          :value="option.id || option.label"
          tabindex="-1"
        >
        <label v-on:click="clickHandler(option)">
          <span
            ref="radioButton"
            class="check focus-outline"
            tabindex="0"
            v-on:keydown.right.prevent="focusHandler(index + 1)"
            v-on:keydown.down.prevent="focusHandler(index + 1)"
            v-on:keydown.left.prevent="focusHandler(index - 1)"
            v-on:keydown.up.prevent="focusHandler(index - 1)"
            v-on:keydown.space.prevent="focusHandler(index)"
          >
            <i class="fa fa-circle"></i>
          </span>
          <span class="option-item"></span>\{{ option.label || option.id }}</span>
        </label>
    </div>
    </template>

  </template>
  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>
</template>
