<div v-if="description" class="help-block description">\{{ description }}</div>
<template v-if="readonly">
  <div class="field-signature">
    <img :src="value" alt="signature image" />
  </div>
</template>
<template v-else>
  <div class="field-signature">
    <canvas :id="name" ref="canvas"></canvas>
    <a href="#" v-on:click.prevent="clean()"><i class="fa fa-times"></i> Clear</a>
  </div>
  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>
</template>
