<div v-if="description" class="help-block description">\{{ description }}</div>

<template v-if="readonly">
  <p class="form-control-static">\{{ value }}</p>
  <input
    type="hidden"
    v-model.lazy="value"
    v-on:change="updateValue()"
    v-on:input="onInput($event)"
    :name="name"
    :id="name"
    :placeholder="placeholder"
    class="form-control"
  />
</template>
</template>
<template v-else-if="autofill === 'always' && defaultSource === 'submission' && empty">
  Now
</template>
<template v-else>
  <div class="input-group custom-time" :class="{ 'input-focused': isInputFocused }">
    <div class="input-group-addon">
      <i class="fa fa-clock-o"></i>
    </div>
    <input
        type="time"
        v-model="value"
        v-on:change="updateValue()"
        v-on:focus="isInputFocused = true"
        v-on:blur="isInputFocused = false"
        v-on:input="onInput($event)"
        :name="name"
        :id="name"
        :placeholder="placeholder"
        class="form-control focus-outline"
        tabindex="0"
      />
  </div>
</template>

<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">Field is required.</p>
